.PokeCard{
  border: 2px solid;
  width: 250px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
  text-align: center;
  background-color: white;
  border-radius: 5px;

  .PokeCard-data{
    font-size: 80%;
  }
}

